@page
@model LogoutModel

<h3 class="mb-3">
	@(ViewData["Title"] = "退出登录成功")
</h3>

<div class="card">
	<div class="card-block">
		<p class="card-text">
			您已经安全退出登录了。
		</p>
		<a href="/" class="btn btn-primary">&nbsp; 返回首页 &nbsp;</a>
	</div>
</div>