@page "~/hello"
@model HelloPageModel

<div>@_me.DisplayName</div>
<p>Hello: @PageContext.ActionDescriptor.Id</p>
<p>see Index: <a href="/">Index Page</a></p>

<form method="post" asp-page="@PageContext.ActionDescriptor.DisplayName">
    <button type="submit">Submit</button>
    @if ( Request.Method == "POST" ) {
        <div>Submitted</div>
    }
</form>