@page "~/"
@model IndexPageModel

<div>@_me.DisplayName</div>
<p>AnonymousId: @_me.AnonymousId</p>

<form method="post" asp-page="@PageContext.ActionDescriptor.DisplayName">
    <button type="submit">Submit</button>
    @if ( Request.Method == "POST" ) {
        <div>Submitted</div>
        <div>@Model.TellHim</div>
    }
</form>